.home{
    a{
        color: #444;
    }
    padding-bottom: 1.2rem;
    font-size: 12px;
    .top{
        padding: 0.15rem 0;
        width: 100%;
        height: 0.6rem;
        background-color: rgba(61, 185, 61, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        .secrch_input{
            width: 95%;
            height: 0.4rem;
            background-color: white;
            border:0px solid;
            border-radius:25px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration:none;
            color: rgba(0, 0, 0, 0.68);
            // i{
            //     font-size: 12px;
            // }
        }
    }
    .video_list{
        margin-top: 10px;
        padding-right:2%;
        padding-left: 2%;
        .video_list_header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 17px;
            .all_input{
                color: rgba(0, 0, 0, 0.68);
                float:right;
                text-decoration:none;
            }
            h3{
                border-left: 5px solid #0fce0f;
                padding-left: 5px
            }
            a{
                font-size: 14px;
                color: rgb(134, 134, 134);
            }
        }
        ul{
            display: flex;
            width: 100%;
            // 裁剪 div 元素中内容的左/右边缘 - 如果溢出元素的内容区域
            overflow-x: scroll;
            overflow-y: hidden;
            // 规定段落中的文本不进行换行
            white-space: nowrap;
            // 控制元素在移动设备上使用滚动回弹效果
            -webkit-overflow-scrolling: touch;
            li{
                flex: none;
                //控制宽
                width: 2.3rem;
                margin-top: 0.2rem;
                margin-left: 0.1rem;
                //去除li前的一点
                list-style:none;
                img{
                    width: 100%;
                }
                div{
                    display: flex;
                    span{
                        margin-left: 0.1rem;
                    }
                }
                a{
                    >div:nth-child(1){
                        width: 100%;
                        //控制高
                        height: 3.4rem;
                        overflow: hidden;
                    }
                }
                h3{
                    margin-top: 0.1rem;
                    margin-bottom: 0.1rem;
                    font-size: 15px;
                }
            }
        }
    }
    .movie_input{
        text-decoration:none;
        color: black;
        .starList{
            height: 15px;
            width: 75px;
            background: url("../assets/star.png")
        }
    }
}
#search_main{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999999;
}
.router-in-enter-active, .router-in-leave-active {
    transition: all 0.5s;
}
.router-in-enter, .router-in-leave-active {
    transform: translateX(100%);
}